<section id="header" class="text-center">
    <div class="page-title">
        <h1>#AllYouSteedIsLove</h1>
    </div>
</section>

<section id="main-body">

    <div class="text-center" id="about-us-container">
        <div class="row about-us-row d-flex flex-row">
            <div class="col-sm-3"> <img src="images/tayla.png" /> </div>
            <div class="col-sm-6 align-self-stretch" id="about-us-text">
                <div id="about-us-header"><h3 class="subheader">About Us</h3></div>
                <div id="about-us-desc"><div>Tayla & Wayne are amazing together...bla bla bla bla<br/ > What we need to know is they both like "naughty little poos"</div></div>
            </div>
            <div class="col-sm-3"> <img src="images/wayne.png" /> </div>
        </div>
    </div>

    <div id="countdown-container">
        {loadposition countdown}
    </div>

    <div class="row" id="details-rsvp">
        <div class="col-sm-6">
            <div id="details-container" class="container">
                <h3 class="subheader text-center">Wedding Details</h3>
                <div class="row text-center">
                    <div class="detail-detail">24 November 2018</div>
                    <div class="invitation text-uppercase">INVITATION   TO   FOLLOW</div>
                </div>
            </div></div>
        <div class="col-sm-6 rsvp container">
            <div id="rsvp-container" class="text-center">

                <h3 class="subheader">RSVP</h3>
                <form action="#" method="POST">
                    <div class="container" id="input-container">
                        <input type="text" placeholder="Name" name="full_name" id="full_name" />
                        <input type="text" placeholder="Email address" name="email" id="email" />
                        <div class="d-flex flex-row justify-content-between rsvp-group">
                            <div id="rsvp-msisdn"><input type="text" placeholder="Cell number" name="msisdn" id="msisdn" /></div>
                            <div id="rsvp-attending"><input type="number" placeholder="# Attending" name="attending" id="attending" /></div>
                        </div>

                        <br />
                        <div id="submitbuttons">
                            <a type="button" id="submit-attend" class="btn btn-success">I'll be there</a> <img src="images/fidget.gif" id="fidget-loader"/><br />
                            <a id="submit-decline">I can't make it</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div id="registry-container">
        <h3 class="subheader">Registries</h3>
        <div id="registry" class="container d-flex">
            <a href="https://yuppiechef.com/yc2964719"><img src="images/Yuppiechef-Logo.jpg" /><br />ID: yc2964719</a>
            <a href="https://www.boardmans.co.za/giftregistry/index/items/id/22451/"><img src="images/boardmans.jpg" /><br />ID: 22451</a>
            <a href="https://www.gifttree.co.za/"><img src="images/gifttree.jpg" /><br />ID: xxxxxxxx</a>
        </div>
    </div>

    <div class="row" id="venue-both">
        <div class="col-sm-6">
            <div id="venue-container" class="container">
                <h3 class="subheader text-center">Directions</h3>
                <div class="row text-center" id="map-container">
                    <iframe
                            width="600"
                            height="450"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9dF4aoQLanpRL77AKNPLmgEb0mSgu0os%20&q=Ludwig's+Roses" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-6 container text-center" id="lodge-outer">
            <div id="lodge-container">
                <h3 class="subheader">Accommodation</h3>
                <div id="lodges-list" class="text-uppercase">
                    <div><a href="https://www.safarinow.com/go/uberlebunggasteplaasguestfarmpretoriarural/">Uberlebung Guest Farm</a></div>
                    <div><a href="http://www.kievitskroon.co.za/">Kievits Kroon Country Estate</a></div>
                    <div><a href="http://www.isiphiwo.co.za/">Isiphiwo Boutique Hotel & Spa</a></div>
                    <div><a href="http://www.pumulanilodge.co.za/">Pumulani Lodge</a></div>
                    <div><a href="https://vsghotel.co.za/">Villa San	Giovanni Hotel</a></div>
                </div>
            </div>
        </div>
    </div>

</section>