#sp-main-body {
    background-color: white;
    padding: 20px 0;
}

#header > * {
    font-family: Bromello, sans-serif;
    font-size: 60px;
}

@font-face {
    font-family: "Bromello";
    src: url("templates/lt_wedding/css/fonts/bromello.ttf");
    font-weight: normal;
    font-style: normal;
}