<section id="lt-introduction" class="sppb-section  lt-introduction"><div class="sppb-row-container"><div class="sppb-section-title sppb-text-center"><h3 class="sppb-title-heading">About the Couple</h3><p class="sppb-title-subheading">soon to be married on the <strong>12th of April 2017, at 2pm</strong></p></div><div class="sppb-row"><div class="sppb-col-sm-4"><div id="column-id-1481703929" class="sppb-addon-container  sppb-wow fadeInDown sppb-animated" data-sppb-wow-duration="300ms" data-sppb-wow-delay="300ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeInDown;"><div id="sppb-addon-1481703930" class="clearfix"><div class="sppb-addon sppb-addon-feature sppb-text-center lt-intro-sub"><div class="sppb-addon-content"><span class="sppb-img-container"><img class="sppb-img-responsive" src="/images/2017/01/11/jane-colour.png" alt=""></span><div class="sppb-addon-text"><h2>Sarah Jane Phillips</h2>
    <h5>Bride</h5>
    <p>An effervescent and colourful woman, Sarah's passions are broad and creative, and now can claim to include Dave as an additional one.</p>
    <ul>
        <li><a href="https://web.facebook.com/sarah.j.sinclair.3"><em class="fa fa-facebook"><span style="display: none;">none</span></em></a></li>
    </ul></div></div></div></div></div></div><div class="sppb-col-sm-4"><div id="column-id-1481703931" class="sppb-addon-container  sppb-wow fadeInDown sppb-animated" data-sppb-wow-duration="400ms" data-sppb-wow-delay="400ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 400ms; animation-name: fadeInDown;"><div id="sppb-addon-1481703932" class="clearfix"><div class="sppb-addon sppb-addon-text-block sppb-text-center lt-intro-symboy"><div class="sppb-addon-content"><p>&amp;</p></div></div></div></div></div><div class="sppb-col-sm-4"><div id="column-id-1481703933" class="sppb-addon-container  sppb-wow fadeInDown sppb-animated" data-sppb-wow-duration="500ms" data-sppb-wow-delay="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 500ms; animation-name: fadeInDown;"><div id="sppb-addon-1481703934" class="clearfix"><div class="sppb-addon sppb-addon-feature sppb-text-center lt-intro-sub"><div class="sppb-addon-content"><span class="sppb-img-container"><img class="sppb-img-responsive" src="/images/2017/01/11/dave-colour.png" alt=""></span><div class="sppb-addon-text"><h2>Dave Wicks</h2>
    <h5>Groom</h5>
    <p>An all-round nice guy and talented bloke, he remains the envy of many with Sarah on his arm.</p>
    <ul>
        <li><a href="https://web.facebook.com/dave.wicks.94"><em class="fa fa-facebook"><span style="display: none;">none</span></em></a></li>
    </ul></div></div></div></div></div></div></div></div></section>