a {
  color: #2bb673;
}
a:hover {
  color: #218d59;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #2bb673;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #2bb673;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #2bb673;
}
#offcanvas-toggler >i {
  color: #000000;
}
#offcanvas-toggler >i:hover {
  color: #2bb673;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #259d63;
  background-color: #2bb673;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #1c784c;
  background-color: #218d59;
}
ul.social-icons >li a:hover {
  color: #2bb673;
}
.sp-page-title {
  background: #2bb673;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #2bb673;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #2bb673;
}
.sp-module .tagscloud .tag-name:hover {
  background: #2bb673;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #2bb673;
}
.search .btn-toolbar button {
  background: #2bb673;
}
.post-format {
  background: #2bb673;
}
.voting-symbol span.star.active:before {
  color: #2bb673;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #218d59;
}
.entry-link,
.entry-quote {
  background: #2bb673;
}
blockquote {
  border-color: #2bb673;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #2bb673;
}
#sp-footer {
  background: #2bb673;
}
.sp-comingsoon body {
  background-color: #2bb673;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #2bb673;
  background-color: #2bb673;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #2bb673;
  background-color: #2bb673;
}
/***** PRESET *****/
.sppb-section-title p {
    background: url(../../images/border_title_prs3.png) no-repeat bottom center;
}
.sppb-section-title h3,
.lt-introduction .lt-intro-sub h2,
.lt-intro-symboy p,
#lt-statistic .scd-unit .scd-digits .scd-digit,
#lt-statistic .scd-unit .scd-label,
.lt-story-sub h3 {
    color: #2bb673;
}
.lt-button:hover {
    border: 3px solid #2bb673;
}
.lt-button:hover {
    background: #2bb673;
}
.blogDate,
.lt-event-sub .ohanah .event_detail_container .event_detail_title h2,
.ohanah .event_detail_container .ohanah-registration-link {
    background: #2bb673;
}
.lt-buy-now {
    background: #da3836;
}
.projects-filter a.selected, 
.projects-filter a.selected:hover,
.projects-filter a:hover {
    background: #2bb673!important;
}
.projects-wrapper .project-img:hover .project-img-extra {
    background: rgba(43, 182, 115, .7)!important;
}