#countdown1 {font-weight:bold;}
.weddingcountdown ul {background: none;list-style: none;padding: 0px;margin: 0px;}
.weddingcountdown ul .bullets {background: none;list-style: disc;padding: 0 0 0 5px !important;margin-left: 20px !important;line-height: 25px;}
.weddingcountdown ul .noicons {background: none;list-style: none;padding: 0px;margin: 0px;line-height: 25px;}
.weddingcountdown ul .icons1.bride {background: url('../images/bride.png') no-repeat;padding: 0 0 0 35px;line-height: 35px;}
.weddingcountdown ul .icons1.groom {background: url('../images/groom.png') no-repeat;padding: 0 0 0 35px;line-height: 35px;}
.weddingcountdown ul .icons1.date {background: url('../images/calendar.png') no-repeat;padding: 0 0 0 35px;line-height: 35px;}
.weddingcountdown ul .icons1.venue {background: url('../images/venue.png') no-repeat;padding: 0 0 0 35px;line-height: 35px;}
.weddingcountdown ul .icons1.countdown {background: url('../images/countdown2.png') no-repeat;padding: 0 0 0 35px;line-height: 35px;}
.weddingcountdown .powered {font-size: 10px;color: #b97978;}
.weddingcountdown .powered a {font-size: 10px;text-decoration: none;color: #b97978;}
.weddingcountdown .powered a:hover {background: none;text-decoration: none;color: #b97978;}