.page-title > * {
    font-family: Bromello, sans-serif;
    font-size: 100px;
}

.page-title {
    background-color: #ffffffcc;
    width: min-content;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: "Bromello";
    src: url("fonts/bromello.ttf");
    font-weight: normal;
    font-style: normal;
}

.subheader {
    font-size: 36px;
    font-family: "Courier New", Courier, monospace;
}

/*
        ABOUT US
 */

#about-us-container {
    margin-top: 90px;
    background-color: #ffffffbb;
    padding: 10px;
}

.about-us-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about-us-text {
    display: flex;
    flex-direction: column;
}

#about-us-header {
    flex: 1;
}

#about-us-desc {
    flex: 4;
}

/*
        COUNTDOWN
 */
#countdown-container {
    margin-top: 70px;
    background-color: #ffffffbb;
}

.scd-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
}

.scd-title {
    display: none;
}

#details-rsvp {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

/*
        DETAILS CONTAINER
 */
#details-container {
    margin-right: 20px;
    background-color: #ffffffbb;
}

.detail-label {
    padding: 15px;
}

.detail-detail {
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
}

.invitation {
    width: 100%;
    text-align: center;
    font-family: Bromello, sans-serif;
    font-size: 70px;
    line-height: 90px;
}


/*
        RSVP CONTAINER
 */
#rsvp-container {
    background-color: #ffffffbb;
    margin-left: 5px;
    height: 100%;
}

#input-container > input {
    margin-top: 15px;
    width: 100%
}

.rsvp-group {
    margin-top: 15px;
}

#rsvp-msisdn {
    flex: 7;
}

#rsvp-msisdn > input {
    width: 100%;
}

#rsvp-attending {
    flex: 1;
    padding-left: 15px;
}

#submit-attend {
    color: ivory;
    font-weight: bold;
    cursor: pointer;
    background-color: #410511;
}

#submit-decline {
    color: #22006a;
    font-weight: bold;
    cursor: pointer;
}

#fidget-loader {
    width: 50px;
    display: inline;
}

/*
        REGISTRY
 */
#registry-container {
    margin-top: 70px;
    background-color: #ffffffbb;
    text-align: center;
    padding-bottom: 20px;
}

#registry {
    justify-content: space-around;
    padding: 15px;
}

#registry > a > img {
    height: 100px;
    border: #550716 solid 4px;
}

/*
        DIRECTIONS
 */

#venue-both {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

#venue-container {
    background-color: #ffffffbb;
    flex: 0;
}

#map-container {
    padding: 20px;
}

#lodge-outer {
    flex: 1;
}

#lodge-container {
    background-color: #ffffffbb;
    height: 100%;
}

#lodges-list {
    margin-top: 50px;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#lodges-list > div {
    flex: 1;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

#lodges-list > div > a,
#registry > a{
    color: #0c0c0d;
    font-weight: bold;
}