/**** CUSTOM RESPONSIVE *****/
@media (min-width: 980px) and (max-width: 1199px) {
    .sp-megamenu-parent > li > a {
        letter-spacing: 0!important;
        padding: 0 5px!important;
        font-size: 10px!important;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #lt-k2-blog div.k2ItemsBlock ul li {
        width: 31%!important;
    }
    .sp-megamenu-parent > li > a {
        font-size: 10px!important;
        letter-spacing: 0!important;
        padding: 0 7px!important;
    }
  	#sp-logo img {
      	width: 100%;
    }
    .lt-statistic-sub-content {
        height: 150px!important;
        padding: 20px!important;
        width: 150px!important;
    }
    .lt-event-sub .event_detail_container {
        margin-left: 10px!important;
    }
    .ohanah .event_detail_container .event_detail_title h2 {
        font-size: 20px!important;
    }
    #sp-bottom #sp-bottom3 {
        clear: left;
    }
    #sp-bottom1, #sp-bottom2 {
        padding-bottom: 30px;
    }
}
@media (min-width: 980px) and (max-width: 1024px) {
    #sp-bottom1, #sp-bottom2, #sp-bottom3, #sp-bottom4 {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%;
    }
    #sp-bottom3 {
        clear: left;
    }
}
@media (max-width: 767px) {
    .projects-filter {
        padding-left: 10px;
        display: inline-block;
    }
    .projects-filter ul li {
        display: block;
        float: left;
        margin: 10px 0;
    }
    #lt-k2-blog div.k2ItemsBlock ul li {
        width: 100%!important;
    }
    #sp-footer2 {
        text-align: left!important;
    }
    .sp-contact-info {
        float: left!important;
    }
    .sticky-wrapper.is-sticky {
        position: relative!important;
    }
    #sp-menu {
        position: absolute!important;
        right: 0;
        top: 20px;
    }
    #offcanvas-toggler {
        line-height: 0!important;
    }
    #offcanvas-toggler > i {
        margin: 0;
    }
    .sub-clients img {
        display: inline!important;
    }
  	.lt-event-sub .event_detail_container {
        width: 100%!important;
    }
    .lt-introduction .lt-intro-sub {
        margin-top: 40px;
    }
    .lt-event-sub .event_detail_container {
        margin-left: 0!important;
    }
    .lt-subcribe .acymailing_fulldiv tr, .lt-subcribe .acymailing_fulldiv td {
        display: block!important;
        padding: 3px 5px!important;
    }
}
@media (max-width: 480px) {
    .sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
        margin: 5px!important;
    }
}
/***** GENERAL *****/
body {
    color: #000;
}
.sppb-section-title h3 {
    
}
.sppb-section-title p {
    padding-bottom: 30px;
}
.lt-button {
    padding: 8px 30px;
    border: 2px solid #e1e1e1;
    color: #3f3f3f;
    text-transform: uppercase;
}
.lt-button:hover {
    color: #fff;
}
.btn {
    border-radius: 0!important;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    text-shadow: none;
    text-transform: uppercase;
    border: none!important;
}
/***** TOP BAR *****/
#sp-top1, #sp-top2 {
    padding: 32px 0;
}
.offcanvas-menu ul li.current {
    display: none;
}
#sp-logo .logo {
	padding: 18px 0;
}
/***** INTRODUCTION *****/
.lt-introduction .lt-intro-sub {
    cursor: pointer;
}
.lt-introduction .lt-intro-sub h5 {
    background: url(../images/border_title.png) no-repeat center center;
}
.lt-introduction .lt-intro-sub ul {
    padding-left: 0;
}
.lt-introduction .lt-intro-sub ul li {
    display: inline-block;
    padding: 0px 10px;
}
.lt-intro-symboy p {
    font-size: 80px;
    padding-top: 100px;
}
/***** STATISTIC *****/
.lt-statistic-sub-content {
    background: #fff;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 40px;
    display: inline-block;
}
.lt-statistic-sub-content h2 {
    font-size: 46px;
}
.lt-statistic-sub-content h4 {
    font-size: 18px;
}
.lt-statistic-sub {
    margin: 10px 0;
}
/***** STATISTIC *****/
#lt-statistic .scd-unit {
    background: #fff;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 60px 10px;
    margin: 10px 50px;
    display: inline-block;
}
#lt-statistic .scd-unit .scd-digits .scd-digit {
    font-size: 48px!important;
}
#lt-statistic .scd-unit .scd-label {
    font-size: 18px!important;
}
#lt-statistic .scd-digits-row {
    text-align: center;
    float: none;
}
#lt-statistic .scd-label-row {
    text-align: center;
    float: none;
    min-width: 1em!important;
}
/***** EVENT *****/
.lt-event-item {
    background-color: #fff;
}
.lt-event-item h2 {
    padding: 20px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.lt-event-item strong {
    font-weight: 300!important;
}
.lt-event-item-header h5 {
    line-height: 25px;
    margin-bottom: 20px;
}
.lt-event-item-footer {
    padding-bottom: 50px;
}
.lt-event-item-footer p {
    padding: 0 20px;
    margin: 50px 0;
}
.lt-event-item-footer span {
    margin-bottom: 30px;
}
.lt-event-item-footer .button {
    color: #fff;
    padding: 10px 25px;
    border-radius: 20px;
}
/***** PORTFOLIO *****/
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
    text-transform: uppercase;
    padding: 8px 15px;
    font-weight: 500;
    border-radius: 0!important;
}
/***** STORY *****/
.lt-story-sub h3 {
    cursor: pointer;
}
.lt-story-sub img {
    width: 100%;
}
/***** SUBCRIBE *****/
.lt-subcribe .acymailing_fulldiv tr, 
.lt-subcribe .acymailing_fulldiv td {
    display: inline-block;
    padding: 0 5px;
}
.lt-subcribe .acymailing_fulldiv td input.subbutton {
    padding: 5px 20px;
    text-transform: none;
}
/***** BUY NOW *****/
.lt-buy-now-content h3 {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
/***** K2 *****/
span.catItemImage img,
span.itemImage img {
    width: 100%!important;
}
#sp-right .k2ItemsBlock ul li img {
  width: 100%;
}
div.k2ItemsBlock ul {
    padding-left: 0;
}
/* Refine Page Builder */
#sp-page-builder .sppb-section-title.sppb-text-center .sppb-title-subheading {
    margin: 0 auto;
}
.lt-page-service i {
  margin-top: 10px;
}
.sp-simpleportfolio-img {
    width: 100%;
}
/***** Onepage *****/
.sp-megamenu-parent > li.menu-first > a {
    display: none;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a.menu-first {
    display: none;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a.btn-view {
    display: none;
}
.sp-simpleportfolio-title a {
  display: none;
}
/* Portfolio */
.projects-filter a {
    padding: 8px 15px;
    font-size: 1em;
    border-radius: 0;
    text-transform: uppercase;
}
.projects-filter a {
    color: #fff;
    background: #2d2d2d;
}
.projects-filter ul li {
    background: none;
}
.projects-filter ul {
    text-align: center;
}
.projects-wrapper img {
    width: 100%;
}
.projects-filter {
    border-bottom: none;
}
.projects-wrapper .project-img .project-img-extra h4 {
    color: #fff!important;
}
#sp-logo .logo img:nth-child(2) {
    display: none;
}
